@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=WDXL+Lubrifont+TC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    @extend .flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../pokwallpaper.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

header{
    @extend .flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px  80px;
    z-index: 99;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: .5s;
    padding-bottom: -10px;
    max-height: 15%;
    border: 2px solid transparent;
    border-radius: 20px;
    //     border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;

    h2{
//           background: -webkit-linear-gradient(#e93528, #ffc831);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   font-weight: 1200;
        img{
            height: 80pt;
            margin: 0;
            transition: .5s ease-in-out;
            border-radius: 200pt;

            &:hover{
                background: white;
                cursor: pointer;
            }
        }
    }

    &:hover{
            border: 2px solid rgba($color: #b8b8b873, $alpha: 1.0);
    border-radius: 20px;
    backdrop-filter: blur(20px);
        
        
    }

    

    .logo{
        font-size: 2em;
        color: white;
        user-select: none;
    }

    .navigation {
        a{
            position: relative;
            font-size: 1.1em;
            color: white;
            text-decoration: none;
            font-weight: 500;
            margin-left: 40px;
            transition: .5s;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 2px;
                background: white;
                border-radius: 5px;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .5s;
            }

            &:hover::after{
                transform-origin: left;
                transform: scale(1);
            }

        
        }

        .loginBtn{
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid white;
            border-radius: 6pt;
            color: white;
            outline: none;
            cursor: pointer;
            font-size: 1.1em;
            margin-left: 40px;
            transition: 0.5s;
            font-family: "Quicksand", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;


            &:hover{
                background: white;
                color: #162938;
                border-radius: 6pt;
            }
        }
    }

}

.wrapper{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba($color: #b8b8b873, $alpha: 1.0);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
    overflow: hidden; // ai nao aparece registro
    transform: scale(0);

    &.active-popup{
        transform: scale(1);
    }

    .form-box{
        width: 100%;
        padding: 40px;

        h2{
            font-size: 2em;
            color: #162938;
            text-align: center;
        }

        .input-box{
            position: relative;
            width: 100%;
            height: 50px;
            border-bottom: 2px solid #162938;
            margin: 30px 0;

            label{
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translateY(-50%);
                font-size: 1em;
                color: #162938;
                font-weight: 500;
                pointer-events: none;
                transition: .5s;
                border: 2px solid transparent;
                border-radius: 10pt;
                padding: 2.5pt;
            }

            input{
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                top: -5px;
                font-size: 1em;
                color: #162938;
                font-weight: 600;
                font-family: "Quicksand", sans-serif;
                font-optical-sizing: auto;
                padding: 0 35px 0 5px;

               

                &:user-invalid + label {
                    color: white;
                    top: -5px; /* mantém no topo mesmo inválido */
                    border: 2px solid red;
                    background: RED;
                    }

            }

            input:focus + label, &.has-value + label{
                    top: -5px;
                }
                
            input:valid + label{
                    top: 0px;
                }

                



            .icon{
                position: absolute;
                right: 8px;
                font-size: 1.2em;
                color: #162938;
                margin: 0;
                top: 25%;
            }
        }
    }


    .remember-forgot{
        font-size: .9em;
        color: #162938;
        font-weight: 500;
        margin: -15px 0 15px;
        justify-content: space-between;
        display: flex;
        justify-content: space-between;

        label{
            input{
                accent-color: #161616;
                margin-right: 3px;
            }
        }

        a{
            color: #161616;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .btn{
         font-family: "Quicksand", sans-serif;
        width: 100%;
        height: 45px;
        background: #161616;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        color: white;
        font-weight: 600;
    }

    .login-register{
        font-size: .9em;
        color: #161616;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;

        p a{
            color: #162938;
            text-decoration: none;
            font-weight: 600;
            margin-left: 2.5px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .icon-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 47px;
        background: #161616;
        font-size: 2em;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 1;
    }
   

    .form-box.login{
        transition: transform .18s ease;
        transform: translateX(0);
    }

    &.active .form-box.login{
        transition: none;
        transform: translateX(-400px);
    }

    .form-box.cadastro{
        position: absolute;
        transition: .18s;
        transform: translateX(400px);
    }

    &.active .form-box.cadastro{
        transition: transform .18s ease;
        transform: translateX(0);
    }

    

    &.active{
        height: 520px;
    }
}





.s-pok{
    position: relative;
    top: 100px;
}
